@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --white: #f3f3f3;
    --eerie-black: #1B1B1E;
    --tart-red: #FF4242;
    --blue-munsell: #188FA7;
    --caribbean-grenn: #00C49A;
}

body{
    background-color: var(--white);
}