header{
    background-color: var(--caribbean-grenn);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,h2{
    color: var(--white);
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.menu .icon-create button{
    height: 70px;
    width: 70px;
    font-size: 50px;
    color: var(--white);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.tasks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task{
    height: 70px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    margin: 10px 0;
    background-color: var(--white);
    color: var(--caribbean-grenn);
    border: 5px solid var(--caribbean-grenn);
    border-radius: 15px;
    padding: 0 20px;
}

.task .title{
    font-weight: bold;
}

.task .icons{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.task .icons .icon button{
    height: 50px;
    width: 50px;
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--caribbean-grenn);
}

.task .icons .icon-edit button:hover{
    color: var(--blue-munsell);
}

.task .icons .icon-delete button:hover{
    color: var(--tart-red);
}

/* MODAL */
.modal-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal{
    position: relative;
    width: 500px;
    height: 250px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--caribbean-grenn);
    border-radius: 20px;
}

.modal .title-modal input{
    width: 100%;
    line-height: 30px;
    font-size: 30px;
    border: none;
    border-bottom: 3px solid var(--caribbean-grenn);
    background-color: transparent;
    color: var(--caribbean-grenn);
    outline: none;
    
}

.modal input[type="submit"]{
    border: 3px solid var(--caribbean-grenn);
    background-color: var(--white);
    color: var(--caribbean-grenn);
    font-weight: bold;
    margin: auto auto;
    width: 100%;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 40px;
    transition: 0.5s ease;
}

.modal input[type="submit"]:hover{
    background-color: var(--caribbean-grenn);
    color: var(--white);
}

.modal .close{
    position: absolute;
    top: -25px;
    right: -25px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
    border-radius: 50%;
    background-color: var(--caribbean-grenn);
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--caribbean-grenn);
}

.modal .close:hover{
    background-color: var(--white);
    color: var(--caribbean-grenn);
}