{
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": false,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"singleAttributePerLine": false
}
